aiohttp==3.7.3
APScheduler==3.6.3
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
cryptography==3.3.1
decorator==4.4.2
gql==3.0.0a2
graphql-core==3.1.2
idna==2.10
importlib-metadata==3.1.1
jsonpickle==1.4.2
multidict==5.1.0
polog==0.0.9
pony==0.7.14
promise==2.3
pycoingecko==1.4.0
pycparser==2.20
python-telegram-bot==13.1
pytz==2020.4
requests==2.25.0
Rx==3.1.1
six==1.15.0
tornado==6.1
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==4.0.1
urllib3==1.26.2
websockets==8.1
yarl==1.6.3
zipp==3.4.0
